.home-page {  
    padding: 2rem;  
    width: 100%;  
    margin: 0 auto;  
}  

.home-page h1 {  
    color: #333;  
    text-align: center;  
    font-size: 2rem;  
    margin-bottom: 1rem;
    border: solid 0.1px;  
    background-color: lightblue;
    color: black;
}  

.categories, .popular-books {  
    margin-top: 2rem;  
}  

.categories h2, .popular-books h2 {  
    color: #555;  
    font-size: 1.5rem;  
    margin-bottom: 1rem;  
}  

/* Use grid layout for categories and popular books */  
.categories ul, .popular-books ul {  
    list-style-type: none;  
    padding: 0;  
    display: grid;  
    gap: 0.5rem;  
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));  
}  

.categories li, .popular-books li {  
    padding: 0.5rem;  
    border: 1px solid #ddd;  
    border-radius: 5px;  
    text-align: center;  
}  

.categories li a, .popular-books li a {  
    color: #0077cc;  
    text-decoration: none;  
    font-size: 1.1rem;  
}  

.categories li a:hover, .popular-books li a:hover {  
    text-decoration: underline;  
}  

@media (max-width: 600px) {  
    .header {  
      font-size: 1.5em;  
    }  
  
    .categories,  
    .popular-books {  
      flex-direction: column;  
      align-items: center;  
    }  
  
    .category,  
    .book {  
      flex: 1 1 100%; /* Full width */  
    }  
  }  

